$blue: #2196f3;
$black-text: #212121;
$black: #000000;
$gray: #757575;
$whait: #ffffff;
$gray-footr-cont: rgba(255, 255, 255, 0.6);
$bkn: #2f303a;
$bkn-forbtn: #e5e5e5;
$bkncolor-herobtn-focushoverr: #188ce8;
$bkn-team: #f5f4fa;
