.hero {
  max-width: 1600px;
  background-color: $bkn;
  height: 600px;
  margin: 0 auto;
  background-image: url(../images/hero-img.jpg);
}

.hero__title {
  display: block;
  width: 696px;
  padding-top: 200px;
  margin: 0 auto;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: $whait;
  margin-bottom: 30px;
}
.hero__btn {
  display: block;
  background-color: $blue;
  color: $whait;
  margin: 0 auto;
  min-width: 200px;
  height: 50px;
  border: none;
  &:focus,
  &:hover {
    background: $bkncolor-herobtn-focushoverr;
  }
}
