.log {
  display: inline-block;
  padding-top: 60px;
}
.mail-section {
  margin-left: 93px;
  margin-top: 72px;
}
.input-email-footer {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  box-shadow: none;
  outline: none;
  width: 358px;
  height: 50px;
  background-color: transparent;
  padding: 15px;
  &::placeholder {
    color: $gray;
    font-size: 16px;
    line-height: 1.25;
  }
  &:hover,
  &:focus {
    border-color: $bkncolor-herobtn-focushoverr;
  }
}

.mail-btn {
  background-color: $blue;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;

  font-size: 16px;
  line-height: 1.87;
  color: $whait;
  padding: 0;
  display: flex;
  align-items: center;
  margin-left: 12px;
}
.footer-tlegram-form {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.telegram-buttom-svg {
  width: 24px;
  height: 24px;
}
.email-text-btn {
  padding-left: 30px;
  padding-right: 10px;
}
