.project-box {
  height: 404px;
  width: 370px;
  background: $whait;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  &:focus,
  &:hover {
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
