.filter-btn {
  display: block;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: $black-text;
  border-width: 0px;
  border-radius: 4px;
  background: #f5f4fa;
}
.btn-focus-hover {
  &:focus,
  &:hover {
    color: $whait;
    background-color: $blue;
  }
}
.active-btn-filter {
  .filter-list__item > & {
    background: $bkncolor-herobtn-focushoverr;
    color: $whait;
  }
}
.project__title,
.filter-title,
.portfolio-title {
  display: none;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.filter-list__item {
  padding-left: 8px;
}
